extends layout

block content

	h2 Admin Page
	table
		thead
			tr
				th: p Order Id
				th: p Order Due Date
				th: p Paid For
				th: p Order Completed
				th: p Order Instructions
				tbody
					each order in orders
						tr(class=o % 2 == 0 ? 'odd' : 'even')
							td
								a(href='/order?orderid=' + order.order_id) #{order.order_id}
							td #{order.pickup.toLocaleString()}
							td #{order.paid}
							td #{order.ready}
							td #{order.instructions}
