extends layout

block content
	h2 Admin Page
	table(class='table table-striped table-responsive')
		thead
			tr
				th Order Id
				th Order Due Date
				th Paid For
				th Order Completed
				th Order Instructions
		tbody
			each order in orders
				tr
					td
						a(href='/order?orderid=' + order.order_id) #{order.order_id}
					td #{order.pickup.toLocaleString()}
					td #{order.paid}
					td #{order.ready}
					td #{order.instructions}
