extends layout

block content
  h2 Cake Order Form
  form(method="post", action="/api/orders", name="cakeorder")
    fieldset
      legend Cake Information
      p
        label(for="type") Type:
        select(name="type")
          option(value="Basic") Basic
          option(value="Premium") Premium
      p
        label(for="size") Size:
        select(name="size")
          each size in sizes
            option(value= size.name) #{size.display_name}
      p
        label(for="fillings") Fillings:
        each filling in fillings
          br
          input(type="checkbox", name="filling", value= filling.name)
          | #{filling.name}
      p
        label(for="art_description") Art:
      p
        textarea(name="art_description" rows="6" cols="40" placeholder="Dream up the best cake you can")
      p
        label(for="colors") Colors:
        select(name="color_one")
          each color in colors
            option(value= color) #{color.name}
        select(name="color_two")
          each color in colors
            option(value= color) #{color.name}
      p
        label(for="writing") Writing:
        input(type="", name="writing")
      p
        label(for="writing_color") Writing Color:
        select(name="writing_color")
          each color in colors
            option(value= color) #{color.name}
    p
      input(type="submit" value="Add to cart")
  script(src="https://code.jquery.com/jquery-3.1.1.min.js")
  script(src="../public/javascripts/cart.js")
