extends layout

block content
  form(action='api/orders', method='post')
    if !cake && !icecream || cake.length == 0 && icecream.length == 0
      h2 Cart is empty
    if cake || icecream
      table(class='table table-striped table-responsive')
        thead
          tr
            th Item
            th Fillings
            th Size
            th Qty
            th Price
        tbody
          each item in cake
            tr
              td #{item.type} #{item.color_one} & #{item.color_two} Cake
              td #{item.fillings}
              td #{item.size.replace('_', '" ')}
              td 1
              td #{item.price}
          each item in icecream
            tr
              td #{item.flavor} Ice Cream
              td None
              td #{item.size}
              td #{item.quantity}
              td #{item.price}
          tr
            td Total
            td
            td
            td
            if cake.length == 1 && icecream.length == 0
              td #{cake[0].price}
            if cake.length == 0 && icecream.length == 1
              td #{icecream[0].price}
            if cake.length + icecream.length > 1
              td $#{sum.toFixed(2)}

      a(id='clearcart' href='/' class='btn btn-default' role='button') Clear Cart

      fieldset
        legend Order Information
        div(class='row')
          div(class='form-group')
            div(class='col-md-6')
              label(for="name") Name:
              input(type="text" name="name" class='form-control')

              label(for="email") Email:
              input(type="email", name="email" class='form-control')

              label(for="phone") Phone:
              input(type="tel", name="phone" class='form-control')

            div(class='col-md-6')
              label(for="pickup") Pickup Time:
              input(type="datetime-local" name="pickup" min= pickup, value= pickup class='form-control')

              label(for="instructions") Instructions:
              textarea(name="instructions" rows="5" placeholder="Anything else we should know?" class='form-control')

      button(type="submit" class="btn btn-primary" ) Checkout

      script(src='javascripts/cart.js')
