extends layout

block content
  form(action='api/orders', method='post')
    if !cake && !icecream || cake.length == 0 && icecream.length == 0
      h3 Nothing here yet
    if cake || icecream
      table.shopping-cart
        thead
          tr
            th(scope='col') Item
            th(scope='col') Size
            th(scope='col') Qty
            th(scope='col') Price
        tbody
          each item in cake
            tr
              td #{item.type} #{item.color_one} & #{item.color_two} Cake
              td #{item.size.replace('_', '" ')}
              td 1
              td #{item.price})
          each item in icecream
            tr
              td #{item.flavor} Ice Cream
              td #{item.size}
              td #{item.quantity}
              td #{item.price}
          tr
            td Total
            td
            td #{cake.length + icecream.length}
            if cake.length == 1 && icecream.length == 0
              td #{cake[0].price}
            if cake.length == 0 && icecream.length == 1
              td #{icecream[0].price}
            if cake.length + icecream.length > 1
              td $#{sum}.00

      fieldset
        legend Order Information
        p
          label(for="name") Name:
          input(type="text", name="name")
        p
          label(for="email") Email:
          input(type="email", name="email")
        p
          label(for="phone") Phone:
          input(type="tel", name="phone")
        p
          label(for="pickup") Pickup Time:
          input(type="datetime-local", name="pickup", min= pickup, value= pickup)
        p
          label(for="instructions") Instructions:
        p
          textarea(name="instructions" rows="6" cols="40" placeholder="Anything else we should know")

      input(type="submit" class="button" value="Checkout")
      a(href="" class="button") Clear Cart
