extends layout
block content
  h2 Order Lookup
  table
    tr
      th Name
      th Order Date
      th Pickup Date
      th Order
      th Size
      th Quantity

    each item in cakes
      tr
        td #{user.name}
        td #{order.placed.toLocaleString()}
        td #{order.pickup.toLocaleString()}
        td #{item.type} #{item.color_one} & #{item.color_two} Cake
        td #{item.size}
        td 1
    each item in icecreams
      tr
        td #{user.name}
        td #{order.placed.toLocaleString()}
        td #{order.pickup.toLocaleString()}
        td #{item.flavor} Ice
        td #{item.size}
        td #{item.quantity}

  script(src="https://code.jquery.com/jquery-3.1.1.min.js")
  script(src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js')
  script(src='../javascripts/validate.js')
