extends layout
block content
  h2 Order Lookup
  h4 Placed on #{order.placed.toLocaleString()} by #{user.name}
  h4 Pickup Date: #{order.pickup.toLocaleString()}
  table(class='table')
    tr
      th Item
      th Size
      th Quantity
      th Style
      th Price

    each item in cakes
      tr
        td #{item.type} #{item.color_one} & #{item.color_two} Cake
        td #{item.size.replace('_', '" ')}
        td 1
        td #{item.cake_number}
        td #{item.price}
    each item in icecreams
      tr
        td #{item.flavor} Ice Cream
        td #{item.size}
        td #{item.quantity}
        td Not Applicable
        td #{item.price}

  h4 Contact #{user.name}
  p Email: #{user.email}
  p Phone Number: #{user.phone}
